<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>VK GROUP STATISTICS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1 class="display-4" align="center">Group Statistics <a th:text="${period}"/></h1>
    <div class="container">
        <a type="submit" class="btn btn-warning btn-lg col-2" href="/stats/today">Today</a>
        <a type="submit" class="btn btn-warning btn-lg col-2" href="/stats/week">Week</a>
        <a type="submit" class="btn btn-warning btn-lg col-2" href="/stats/month">Month</a>
        <a type="submit" class="btn btn-warning btn-lg col-2" href="/stats/year">Year</a>
        <a class="btn btn-success btn-lg col-2" type="submit" href="/login">Login</a>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
        <tr align="center">
            <td>ID</td>
            <td>NAME</td>
            <td>ALL LIKES</td>
            <td>ALL VIEWS</td>
            <td>ALL COMMENTS</td>
            <td>ALL MEMBERS</td>
        </tr>
        </thead>        <tbody>
    <tr th:each="stat : ${stats}" align="center">
        <td th:text="${stat.getGroupId()}"/>
        <td th:text="${stat.getName()}"/>
        <td th:text="${stat.getAllLikesCount()}"/>
        <td th:text="${stat.getAllViewsCount()}"/>
        <td th:text="${stat.getAllCommentsCount()}"/>
        <td th:text="${stat.getAllMembersCount()}"/>
    </tr>
    </tbody>
    </table>
</div>
</body>
</html>